<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${user.userId == null ? 'Add New User' : 'Edit User'}">Form</title>
</head>
<body>
<div sec:authorize="hasAnyRole('ADMIN')">

<h2 th:text="${user.userId == null ? 'Add New User' : 'Edit User'}">Add or Edit User Profile</h2>
<form th:action="${user.userId == null ? '/users' : '/users?userId=' + user.userId}"
      th:object="${user}"
      th:method="${user.userId == null ? 'post' : 'put'}">

    <div>
        <label for="userFname">User First Name:</label>
        <input type="text" id="userFname" th:field="*{fname}" required/>
    </div>

    <div>
        <label for="userLname">User Last Name:</label>
        <input type="text" id="userLname" th:field="*{lname}" required/>
    </div>

    <div>
        <label for="userEmail">User Email:</label>
        <input type="text" id="userEmail" th:field="*{email}" required/>
    </div>

    <div>
        <label for="userPassword">User Password:</label>
        <input type="password" id="userPassword" th:field="*{password}" required/>
    </div>
    <div>
        <label for="userRoleName">User Role:</label>
        <select id="userRoleName" th:field="*{roleName}" required>
            <option value="">Select Role</option>
            <option value="ta">TA</option>
            <option value="faculty">Faculty</option>
            <option value="student">Student</option>
        </select>
    </div>

    <br>
    <button type="submit">Save Changes</button>
</form>
<br>
<a th:href="@{/users}">Back to List</a>
</div>
</body>
</html>
